@import "assets/styles/_color.scss";
@import "assets/styles/variables";

.first-introduce {
    background-color: $color-primary3;
    padding: 150px;
    .row-introduce {
        margin-bottom: 150px;
        margin-top: 30px;
        justify-content: space-between;
    }
    .left-introduce {
        .title-introduce {
            padding-right: 100px;
            font-size: 42px;
            font-weight: 600;
            letter-spacing: 0.5px;
            margin-bottom: 30px;
        }
    }
    .right-introduce {
        .detail-introduce {
            color: #86847c;
            font-weight: 300;
            text-align: left;
            font-size: 16px;
            line-height: 1.8;
        }
        .readmore {
            display: flex;
            align-items: center;
            margin-top: 30px;
            button {
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: $color-primary;
            }
            a {
                margin-left: 10px;
                color: $color-primary;
                font-weight: 500;
            }
        }
    }
}

.second-introduce {
    background-color: #fff;
    .container {
        margin-top: 100px;
    }
    .row-content {
        margin-bottom: 100px;
        justify-content: space-between;
    }
    .left-content {
        height: 700px;
        overflow-y: scroll;
        .title {
            display: flex;
            align-items: center;
            margin-bottom: 24px;
            img {
                width: 80px;
                margin-right: 10px;
            }
            h3 {
                font-weight: 600;
                font-size: 24px;
            }
        }
        .introduce-content {
            padding-right: 24px;
        }
    }
    .right-content{
        .ant-menu {
            border-radius: 10px;
            border: 1px solid #e0dbdb;
            background-color: transparent;
        }
        .ant-menu-root {
            padding: 24px;
        }
        .ant-menu-title-content {
            color: $color-primary;
            font-weight: 500;
            font-size: 16px;
        }
        .ant-menu-item {
            span {
                color: #8c8d8d
            }
        }
        :where(.css-dev-only-do-not-override-16co30o).ant-menu-light.ant-menu-inline .ant-menu-sub.ant-menu-inline {
            background: none;
            border: none;
        }
        .ant-menu-submenu-arrow {
            display: none;
        }
    }
    .left-content::-webkit-scrollbar {
        display: none;
    }
}


@media only screen and (max-width: $breakpoint-md) {
    .first-introduce {
        padding: 150px 0 0 0;
        .row-introduce  {
            flex-direction: column;
            margin-bottom: 50px;
            .left-introduce {
                max-width: 100%;
                img {
                    width: 100%;
                }
                .title-introduce {
                    padding-right: 0;
                    text-align: center;
                }
            }
            .right-introduce {
                max-width: 100%;
            }
        }
        .readmore {
            display: flex;
            width: 100%;
            align-items: center;
            a {
                font-size: 20px;
            }
            margin-bottom: 30px;
        }
        .readmore > button {
            padding: 24px !important;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    .second-introduce {
        .row-content {
            flex-direction: column-reverse;
        }
        .left-content {
            max-width: 100%;
            .introduce-content {
                padding-right: 0px;
            }
        }
        .right-content {
            max-width: 100%;
            margin-bottom: 30px;
        }
    }
}