@import "assets/styles/_color.scss";

.Home {
    .slider {
        background-color: $color-primary;
    }
    .main {
        .categoryTitle {
            font-size: 20px;
            margin-bottom: 30px;
        }
    }
}