@import "assets/styles/variables";
@import "assets/styles/color";
.slider {
  padding-top: 190px;
  .row-title {
    margin-bottom: 70px;
    justify-content: space-between;
  }
  h1 {
    color: white;
    text-align: left;
    font-size: 50px;
    word-spacing: 5px;
    font-weight: 700;
    line-height: 1.5;
    margin-bottom: 40px;
  }
  .readmore {
    .arrow-icon {
      align-items: center;
      span {
        display: block;
        height: 100%;
      }
    }
  }
  .button-next {
    span {
      display: block;
    }
  }
  .row-1 > span {
    font-size: 16px;
    font-weight: 300;
    margin-top: 30px;
    color: #d8b3b3;
  }
  .row-1 a {
    color: #ffdf00;
    font-size: 16px;
  }
  .row-1 > div {
    margin-top: 30px;
  }
  #container {
  }
  img {
    width: 600px;
    border-radius: 12px;
  }
  .label-slider {
    font-weight: 14px;
    color: white;
  }
  .row-2 {
    margin-bottom: 70px;
    justify-content: space-between;
    .ant-slider {
      width: 70%;
    }
    .label-slider {
      margin: 0;
    }
    .button-next {
      width: 7%;
      button {
        background-color: rgba(255, 255, 255, 0.2);
        border-color: rgba(255, 255, 255, 0.2);
        color: #fff;
      }
    }
  }
  .scrolldown {
    display: block;
    color: #fff;
    text-align: center;
    margin-bottom: 70px;
  }
  .ant-carousel .slick-prev::before {
    content: "<";
    display: block;
    position: relative;
    top: 250px;
    bottom: 20px;
    left: 50px;
    font-size: 25px;
    color: #bdb9b9;
    background-color: rgb(246, 246, 246);
    border: 1px solid #bdb9b9;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 44px;
    height: 44px;
  }
  .ant-carousel .slick-next::before {
    content: ">";
    display: block;
    position: relative;
    right: 50px;
    bottom: 20px;
    font-size: 25px;
    color: #bdb9b9;
    top: 250px;
    background-color: rgb(246, 246, 246);
    border: 1px solid #bdb9b9;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 44px;
    height: 44px;
  }
  .slick-dots li button {
    background: rgb(181, 180, 180);
  }
  //   .slick-dots li.slick-active button {
  //     background: $color-primary;
  //   }

  @media only screen and (max-width: $breakpoint-md) {
    .row-title {
      flex-direction: column-reverse;
    }
    .image-col {
      max-width: 100%;
      width: 100%;
      img {
        width: 100%;
      }
    }
    .row-1 {
      max-width: 100%;
      h1 {
        font-size: 34px;
      }
      .readmore {
        a {
          display: inline-block;
          width: 100%;
          font-size: 18px;
        }
      }
    }
    .row-2 {
      .label-slider {
        width: 20%;
      }
      .ant-slider {
        width: 50%;
      }
      .button-next {
        width: 20%;
      }
    }
  }
}
