$color-primary: #c83b3c;
$color-secondary: #fff7e3;
$color-primary2: #fffefd;
$color-primary3: #fff7e3;
$color-white: #ffffff;
$color-text-light: rgba(26, 27, 30, 0.7);
$color-text-black: rgba(26, 27, 30, 1);
