@import "variables";
@import "color";
@import "style";

body {
  font-family: Averta !important;
  width: 100%;
  overflow-x: hidden;
  color: red;
}

a {
  text-decoration: none !important;
  color: $color-text-black !important;
}

//--------------- PAGE-----------------------
.page {
  padding: 72px 0 72px 0;
}
.newest,
.read-more {
  .container {
    @media only screen and (min-width: 992px) {
      width: 960px !important;
    }
  }
}

// ---------------TEXT-----------------------
div.custom-text-light {
  color: $color-text-light;
}
// -----------customize antd UI -----------------------

li.ant-menu-item {
  font-weight: bold;
  &::after {
    border-bottom: none !important ;
  }
}
.ant-table-wrapper {
  .ant-table-thead {
    & > tr > th {
      background: transparent;
    }
  }
  ul.ant-table-pagination {
    justify-content: center;
    li.ant-pagination-item {
      border-radius: 50%;
      color: $color-white;
      background-color: $color-primary;
    }
  }
}
.ant-divider-horizontal {
  margin: 0 !important;
}
