@import "assets/styles/_color.scss";
@import "assets/styles/variables";

.news-info {
  padding: 100px;
  background-color: $color-primary3;
  .row-title {
    margin-bottom: 30px;
    justify-content: space-between;
  }
  .title {
    display: flex;
    align-items: center;
  }
  .title > h3 {
    font-weight: 600;
  }
  .readmore {
    display: flex;
    align-items: center;
    height: 100%;
    font-weight: bold;
    color: $color-primary !important;
    a,
    button {
      font-size: 16px;
      color: $color-primary;
    }
  }
  .big-news {
    background-color: $color-primary3;
    border: none;
    img {
      height: 385px;
    }
  }
  .little-news {
    img {
      height: 300px;
    }
  }
  .ant-card-meta-detail {
    .ant-card-meta-date {
      color: #a29e93;
      font-size: 14px;
      letter-spacing: 0.5px;
      span {
        color: $color-primary;
        letter-spacing: 0.5px;
      }
    }
    .ant-card-meta-title {
      font-size: 18px;
      letter-spacing: 0.5px;
      font-weight: 500;
    }
  }
}

:where(.css-dev-only-do-not-override-16co30o).ant-card-hoverable:hover {
  border-color: transparent;
  box-shadow: none;
}

:where(.css-dev-only-do-not-override-16co30o).ant-card .ant-card-cover img {
  border-radius: 8px 8px 8px 8px;
}

:where(.css-dev-only-do-not-override-16co30o).ant-card .ant-card-body {
  padding: 24px 24px 24px 0px;
  border-radius: 0 0 8px 8px;
}

@media only screen and (max-width: $breakpoint-md) {
  .news-info {
    padding: 100px 0 0 0;
    .big-news img {
      height: 300px;
    }
    .row-title {
      align-items: center;
      margin-left: 0 !important;
      margin-right: 0 !important;
    }
    .readmore {
      display: flex;
      align-items: center;
      height: 100%;
      a,
      button {
        font-size: 20px;
      }
    }
    .col-news {
      max-width: 100%;
    }
    .ant-card-meta-title {
      overflow: visible;
      white-space: unset;
      text-overflow: ellipsis;
    }
    .col-news-little {
      img {
        height: 200px;
      }
      max-width: 50%;
      flex: 0 0 50%;

      .ant-card-meta-date {
        height: 44px;
      }
      .ant-card-meta-description {
        display: none;
      }
    }
  }
}
