@import "assets/styles/_color.scss";

.recruitment-info {
    padding: 100px;
    background-color: $color-primary2;
    .title {
        display: flex;
        align-items: center;
    }
    .title > h3 {
        font-weight: 600;
    }
    .readmore {
        display: flex;
        align-items: center;
        height: 100%;
        a, button {
            font-size: 16px;
            color: $color-primary;
        }
    }
    .job {
        font-size: 20px;
        font-weight: 500;
        color: #1a1b1d;
    }
}